#ignora true_recs per evitare di caricare i samples su github
true_recs/

#ignora il true_set generato da create_true_set.py
true_set.npy

#ignora cartella di cache autogenerata da python
__pycache__/
